<h1>Чайный магазин СБЭУ</h1>
<ul>
  <% @teas.each do |tea| %>
    <li>
      <a class="news_title" href="/tea/<%= tea.id %>">
        <%= tea.name %>
    </li>
  <% end %>
</ul>
<h3 class="pagination"> <%= paginate @teas %> </h3>