<h1>Новости</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
        <p>
          <%= article.text[0, 100] %> 
          <%if article.text.size > 100 %>
            ...
            <%end%>
        </p>
    </li>
  <% end %>
</ul>