<span id="hello_text"> Вы вошли как <%= current_user.name if current_user.present? %></span>

<div class="main_page">
  <div class="main_part">


  </div>

  <div class="auth">
    <div id="forms">
      
    </div>

    <form action="<%= user_log_out_path %>" method="GET" id="exit">
      <input type="submit" value="Выйти из аккаунта">
    </form>
  <div>
</div>
<style>
.error{
  color: red
}
.forma{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.form_element{
  margin-bottom: 15px;
}
.main_page{
  display: inline;
}
.main_part{
  width: 87%;
}
.auth{
  margin-left:80%;
}
</style>



<script>
if ("<%= current_user.present? %>" == "true"){
    document.getElementById('forms').style.display = 'none';
    document.getElementById('hello_text').style.display = 'block';
     document.getElementById('exit').style.display = 'block';
  }
else {
  document.getElementById('hello_text').style.display = 'none';
  document.getElementById('forms').style.display = 'block';
  document.getElementById('exit').style.display = 'none';
  }
  
function pass_check()
  {         
    var pass1 = document.getElementById("password").value;
    var pass2 = document.getElementById("password2").value;
    if (pass1 != pass2) { 
      document.getElementById('error').innerHTML = 'Пароли не совпадают'
      create_butt.disabled = true; }  
    else {
      document.getElementById('error').innerHTML = null;
      create_butt.disabled = false;}
  }


</script>
