<h1>Авторизация<h1>

<form action="<%= user_auth_path %>" method="POST" class="forma">

<%= csrf_meta_tags %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<input type="string" name="alogin" placeholder="Логин" class="form_element" required>
<input type="password" name="apassword" placeholder="Пароль" class="form_element" required>
<input type="submit" value="Авторизироватся" class="form_element">

</form>

<h3 class="error" id="error"><%= flash[:error] %><h3>
<style>
.error{
  color: red
}
.forma{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.form_element{
  margin-bottom: 15px;
}
</style>



<script>
</script>