/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.error{
    color: red
}
.forma{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.form_element{
    margin-bottom: 5px;
}
.pass_change{
    margin: 10px 0;
    display: none;
}
.form_text
{
    font-size: 22px;
    margin: 10px 30px 10px 0;
}
.change_pass{
    display: flex;
}

.site_header_button{
    margin: 0px  20px;
    padding: 6px;
    border: solid black;
    text-decoration: none;
    color: black;
    height: 100px;
  }
.site_header{
    margin: 30px 0px;
}
.site_footer{
    position:fixed;
    right:0;
    bottom:0;
    width:100%;
    height: 70px;
    font-weight: bolder;
    font-size:x-large;
    color:rgb(0, 0, 0);
}
.pagination{
    text-align: center;
}
.show_news_text{
    word-break: normal;
    white-space: pre-wrap;
}
.author{
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-right: 50px;
}
.news_title{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.tea_text{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: bold;
}
.news{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
body{
    background-image: url(3.jpg);
    background-size: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.footer_stuff{
    text-align: center;
}
.footer_stuff2{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
.element_in_bucket{
    display: flex;
    flex-direction: row;
}
.butt_for_bucket{
    padding-left: 30px;
    height: 20px;
    width: 20px;
}